{% extends 'base.html' %} {% block main %}
<article class="post post-{{ post.pk }}">
  <header class="entry-header">
    <h1 class="entry-title">{{ post.title }}</h1>
    <div class="entry-meta">
      <span class="post-category"
        ><a href="#">{{ post.category.name }}</a></span
      >
      <span class="post-date"
        ><a href="#"
          ><time class="entry-date" datetime="{{ post.created_at }}"
            >{{ post.created_at }}</time
          ></a
        ></span
      >
      <span class="post-author"><a href="#">{{ post.author }}</a></span>
      <span class="comments-link"><a href="#">4 Reviews</a></span>
      <span class="views-count"><a href="#">588 Readings</a></span>
    </div>
  </header>
  <div class="entry-content clearfix">
    {{ post.content|safe }}
  </div>
</article>

<section class="comment-area" id="comment-area">
  <hr />
  <h3>Your Comments</h3>
  <form action="#" method="post" class="comment-form">
    <div class="row">
      <div class="col-md-4">
        <label for="id_name">Name:</label>
        <input type="text" id="id_name" name="name" required />
      </div>
      <div class="col-md-4">
        <label for="id_email">Email:</label>
        <input type="email" id="id_email" name="email" required />
      </div>
      <div class="col-md-4">
        <label for="id_url">Website:</label>
        <input type="text" id="id_url" name="url" />
      </div>
      <div class="col-md-12">
        <label for="id_comment">Comments：</label>
        <textarea name="comment" id="id_comment" required></textarea>
        <button type="submit" class="comment-btn">Submit</button>
      </div>
    </div>
    <!-- row -->
  </form>
  <div class="comment-list-panel">
    <h3>Total <span>2</span> comments</h3>
    <ul class="comment-list list-unstyled">
      <li class="comment-item">
        <span class="nickname">zmrenwu</span>
        <time class="submit-date" datetime="2012-11-09T23:15:57+00:00"
          >2017-06-01 23:56</time
        >
        <div class="text">
          Everythinkg is possible. You need try again。
        </div>
      </li>
      <li class="comment-item">
        <span class="nickname">TigerHu</span>
        <time class="submit-date" datetime="2012-11-09T23:15:57+00:00"
          >2012-11-09 12:56</time
        >
        <div class="text">
          I like your post and learn a lot from your post. please work hard.
        </div>
      </li>
    </ul>
  </div>
</section>
{% endblock main %} {% block toc %} {% if post.toc %}
<div class="widget widget-content">
  <h3 class="widget-title">Table of Content</h3>
  <div class="toc">
    <ul>
      {{ post.toc|safe }}
    </ul>
  </div>
</div>
{% endif %} {% endblock toc %}
